{% extends 'base_super_admin_dashboard.html' %}
{% load static %}

{% block title %}
حذف {{ object }}
{% endblock %}

{% block page1 %}
حذف
{% endblock %}

{% block page2 %}
حذف {{ object }}
{% endblock %}

{% block content %}
<div class="row" style="text-align: center; padding-top: 50px;">
    <h5 style="color: #f97316;">
        آیا از حذف {{ object }} با شناسه {{ object.id }} اطمینان دارید؟
    </h5>

    <form method="post"> {% csrf_token %}
        <br>
        <br>
        <button class="btn btn-netcopy_net" style="margin-left: 10px; color: red;">تایید و حذف</button>
        <a href="{{ previous_url }}">بیخیال!</a>
    </form>
</div>
{% endblock %}