{% extends 'base_manager_dashboard.html' %}
{% load static %}

{% block title %}
{{ user }}
{% endblock %}

{% block page1 %}
کارمندان
{% endblock %}

{% block page2 %}
{{ user }}
{% endblock %}

{% block content %}
<div class="col-12 my-grid mb-4">
    <div>
        <label>نام و نام خانوادگی</label>
        <input class="form-control" value="{{ user.get_full_name }}" disabled>
    </div>
    <div>
        <label>سطح کاربر</label>
        <input class="form-control" value="{{ user.get_user_type_display }}" disabled>
    </div>
</div>
<div class="col-12">
    {% include "includes/tables/manager/activity_table.html" with title="فعالیت های این کاربر" no_add="true" %}
</div>
{% endblock %}